.special-heading-two {
position: relative;
margin-bottom: 5rem;
color: var(--primary-blue);
text-align: center;
z-index: 1; }
    .special-title-two {
    display: inline-block;
    position: relative; }
    .special-title-two::first-letter {
    font-size: 4rem; }
    .special-title-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--secondary-blue);
    transform: translate(-50%, -25%);
    z-index: -1; }