.newsletter {
background-color: var(--secondary-background-color);
padding-block: 5.5rem;
margin-top: 5.5rem; }
@media (max-width: 61.9375em) { 
.newsletter {
padding-block: 4.5rem;
margin-top: 4.5rem; } }
@media (max-width: 47.9375em) { 
.newsletter {
padding-block: 3.5rem;
margin-top: 3.5rem; } } 
        .newsletter__form {
        text-align: center; }
            .newsletter__div {
            display: inline-block;
            position: relative; }
                .newsletter__input {
                outline: 1px solid transparent;
                padding: 1rem; 
                border: 1px solid var(--secondary-blue);
                background-color: var(--primary-background-color); 
                color: var(--text-color);
                border-top-left-radius: 0.4rem;
                border-bottom-left-radius: 0.4rem;}
                .newsletter__input:focus {
                outline-color: var(--primary-blue);
                border-color: var(--primary-blue); }
                .newsletter__input--error {
                border-color: var(--error-lighter-color);
                background-color:var(--error-darker-color); }
                .newsletter__input--error:focus {
                border-color: var(--error-lighter-color);
                outline-color: var(--error-lighter-color); }
                .newsletter__input--valid {
                background-color: var(--valid-darker-color); }
                .newsletter__input--valid:focus {
                border-color: var(--valid-lighter-color); }
                .newsletter__form-error {
                color: var(--error-text-color);
                font-size: 1.2rem;
                position: absolute;
                left: 1rem;
                bottom: -2rem;} 
                .newsletter__btn {
                padding: 1rem;
                border-top-right-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
                background-color: var(--secondary-blue);
                border: 2px solid var(--secondary-blue);
                color: var(--text-color);
                font-weight: 600;
                transition: all var(--main-duration) ease-in-out; }
                .newsletter__btn:hover {
                background-color: var(--primary-blue);
                border: 2px solid var(--primary-blue);
                color: var(--primary-background-color); }