.main__services-items {
display: flex;
gap: 2rem;
overflow-x: auto;
scroll-behavior: smooth; }
.main__services-items::-webkit-scrollbar {display: none; }
    .main__services-item {
    overflow: hidden;
    padding: 2rem 4rem;
    color: var(--primary-blue);
    font-weight: 500;
    border-radius: 0.4rem;
    border: solid 1px var(--tertiary-background-color);
    transition: all var(--main-duration) ease; }
    .main__services-item:hover {
    background-color: var(--secondary-background-color);
    box-shadow: var(--shadow-color) 0 10px 30px -20px; }
    .main__services-item:hover .main__services-hidden {
    width: 40rem;
    height: 40rem; }
        .main__services-icon {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        background-color: var(--secondary-background-color);
        border-radius: 50%;
        margin: 0 auto 1rem; }
            .main__services-hidden {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            border-radius: 50%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--secondary-background-color);
            transition: all 0.6s ease; }
            .main__services-icon svg {
            display: block;
            height: 50%;
            width: auto;
            transition: all var(--main-duration) ease; }