.footer {
background-color: var(--primary-color);
padding-top: 3rem; }
    .footer__Inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    grid-template-areas: "a a b b c c";
    row-gap: 2rem;  }
    @media (max-width: 47.9375em) {
    .footer__Inner {
    grid-template-rows: auto auto; 
    grid-template-areas: "a a a b b b" "c c c b b b"; } }
    @media (max-width: 27.9375em) {
    .footer__Inner {
    grid-template-rows: auto auto auto; 
    grid-template-areas: "a a a a a a" "b b b b b b" "c c c c c c"; } }
        .footer__info {
        grid-area: a; }
        .footer__costumer {
        grid-area: b; }
        .footer__follow {
        grid-area: c; }
        .footer__info,
        .footer__costumer,
        .footer__follow {
        text-align: center;
        justify-self: center; }
            .footer__title {
            color: var(--background-color); }
                .footer__listItem:not(:last-child) {
                margin-bottom: 1rem; }
                .footer__listItem--social {
                display: inline-block; }
                .footer__listItem--social:not(:last-child) {
                margin-right: 2rem; }
                    .footer__link {
                    color: var(--background-color); }
    .footer__copyright {
    text-align: center;
    padding-block: 3rem;
    color: var(--background-color);
    font-weight: 500;
    font-size: 1.5rem; }
            .footer__copyright-owner {
            color: var(--background-color);
            text-decoration: underline; }