.scrollup {
width: 5rem;
height: 5rem;
border-radius: 50%;
position: fixed;
right: 2rem;
bottom: 2rem;
background: var(--secondary-blue);
color: var(--text-color);
box-shadow: var(--shadow-color) 0px 10px 30px -20px;
text-align: center;
z-index: 90;
opacity: 0;
transition: all 0.3s ease-in-out;
animation: fadeIn 0.3s ease-in-out 0.4s forwards; }
.scrollup:hover {
background-color: var(--primary-blue);
color: var(--primary-background-color); }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }}