.contact__form-name, 
.contact__form-email,
.contact__form-subject,
.contact__form-message {
padding-top: 3rem; }
    .contact__form-label {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
    letter-spacing: 0.1rem; }
    .contact__form-input {
    outline: none;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--input-background);
    color: var(--text-color); }
    .contact__form-input:focus {
    outline: 1px solid var(--input-border-focus); }